.main_container {
    display: flex;
    background-image: url("../../../static/counter_bg.jpg");
    color: white;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 70px;
    padding: 70px 0px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .no1 {
    text-align: center;
    width: 25%;
  }
  
  .font_data {
    font-size: 3rem;
  }

  h1{
    font-size: 3rem;
  }

  p{
    font-size: large;
  }

  @media (max-width: 768px) {
    .main_container {
      flex-direction: column;
      align-items: center;
      padding: 50px 0px;
    }
  
    .no1 {
      width: 100%;
    }
  
    .font_data {
      font-size: 2rem;
    }
  
    h1 {
      font-size: 2rem;
    }
  }
  