.description_data p{
    font-size: 16px;
    line-height: 1.875; 
    font-weight: 400; 
    color: #888; 
    margin-bottom: 1.875em; 
    display: flex;
}

.row.align-items-center {
    display: flex;
    /* flex-wrap: wrap; */
  }
  
  .col-12.col-md-6 {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .description_data {
    order: 3;
    width: 100%;
    margin-top: 1.875em;
  }

  @media (max-width: 768px) {
    .align-items-center{
      flex-direction: column-reverse;
    }
    .introduction-one {
        display: flex;
        flex-direction: row;
      }
      .introduction-one{
        margin-top: 40px;
      }
      .introduction-one .container .introduction-one__content h5{
        margin-bottom: -35px;
            }
  }

  @media (max-width: 425px) {
    .introduction-one .container .introduction-one__content h5{
      margin-bottom: -37px;
          }
  }
  
  @media (max-width: 355px) {
    .introduction-one{
      margin-top: 40px;
    }
    .align-items-center{
      flex-direction: column-reverse;
    }
    .introduction-one {
        display: flex;
        flex-direction: row;
      }
      .description_data p{
            font-size: 16px; 
            line-height: 1.875; 
            font-weight: 400; 
            color: #888; 
            margin-bottom: 1.875em;
      }
     .introduction-one .container .introduction-one__content h5{
  margin-bottom: -35px;
      }
  }

