@media (max-width: 992px) {
  .slider .slider__carousel__item {
    margin-bottom: -5rem;
    }
}

@media (max-width: 768px) {  
    .responsive-image {
        max-width: 100%;
        height: auto;
        margin: 0 auto; 
      }
      .slider .slider__carousel__item {
      margin-bottom: -15rem;
      }
  }

  @media (max-width: 550px) {
    .slider .slider__carousel__item {
      margin-bottom: -15rem;
      }
  }

  @media (max-width: 425px) {
    .slider .slider__carousel__item {
      margin-bottom: -25rem;
      }
  }

  @media (max-width: 375px) {
    .slider .slider__carousel__item {
      margin-bottom: -28rem;
      }
  }