

/* @media (max-width: 1141px) {  
  .slider .slider__carousel__item {
height: 82em !important;

  }
} */


@media (max-width: 1441px) {  
   .slider .slider__carousel__item {
  height: 60em !important;
      }
  }

  @media (max-width: 2561px) {  
    .slider .slider__carousel__item {
 height: 90em !important;
    }
}

@media (max-width: 4000px) {  
  .slider .slider__carousel__item {
height: 95em !important;
  }
}